<!-- Services Section -->
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Video game developer who provides all the services to create and publish your video games.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gamepad fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Game Development</h4>
                    <p class="text-muted">Bringing your game idea to life.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Website Creation</h4>
                    <p class="text-muted">Creating games or game studios websites.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Content Creation</h4>
                    <p class="text-muted">Writing game dev content.</p>
                </div>
                <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Digital Marketing</h4>
                        <p class="text-muted">Conducting games marketing campaigns.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Video editing</h4>
                        <p class="text-muted">Editing videos and creating game trailers.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading">Licenced Games</h4>
                        <p class="text-muted">Selling customised source code Games.</p>
                    </div>
            </div>
        </div>
    </section>